<br />
<% if(post.comments){ %>
<ul class="media-list">
    <% post.comments.forEach(function (comment, index) { %>
    <li class="media">
        <div class="media-left">
            <img src="<%= comment.head %>" />
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                <a href="<%= comment.website %>"><%= comment.name %></a>
                <span class="info"> 回复于 <%= comment.time %></span>
            </h4>
            <p><%- comment.content %></p>
        </div>
    </div>
    <% }) %>
<% } %>

<form method="post" action="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">
    <% if (user) { %>
    姓名：<input type="text" name="name" value="<%= user.name %>" /><br />
    邮箱：<input type="text" name="email" value="<%= user.email %>" /><br />
    网址：<input type="text" name="website" value="/u/<%= user.name %>" /><br />
    <% } else { %>
    姓名：<input type="text" name="name" /><br />
    邮箱：<input type="text" name="email" /><br />
    网址：<input type="text" name="website" value="http://" /><br />
    <% } %>
    <textarea name="content" rows="5" cols="80"></textarea><br />
    <input type="submit" value="留言" />
</form>